<body>
<div class='article-title'>About</div>

<section class='text'>

<p>I'm building this site to learn how to make things on the web. I'm making it with Ruby on Rails, and styling it with CSS and a little JQuery.</p>


</section>

<body>