<body class="intro">
<div class='article-title'>About</div>

<section class='text'>

<!-- <p>I'm building this site with Ruby on Rails to learn how to make things on the web; I'm using it to write about and demo some programming projects.</p> -->

</section>

<body>