  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>D3 Hello World</title>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.4.5"></script>
  </head>

  <body>

    <h1>Welcome</h1>
    


    <%= link_to 'See Articles', articles_path %>

  
  </body>
