<div class="projects">

<div class="article-title">Word Based Diffs</div>
<div class="description">via longest common subsequences</div><br>


<div id="result">
  

</div>

<div id="texts">
  <textarea id="original" placeholder="first version of text..." autofocus="true"></textarea><br>
  <textarea id="revised" placeholder="revised version..."></textarea>    
<div>
<input type="submit" id="btn" value="Compare">
<br/>

</div>