<div class="projects">

<div class="article-title">Diffs Demo</div>
<div class="description">word based, via longest common subsequences</div><br>


<div id="result">
<input type="button", id="btn", value="compare">
</div>

<div id="texts">
  <textarea id="original" placeholder="first version of text..." autofocus="true"></textarea><br>
  <textarea id="revised" placeholder="revised version..."></textarea>    
<div>
<br/>

</div>