<div class="projects">

<div class="article-title">Memory Game</div>
<div class="description"></div><br>

<div id='options'>
  
  <form>
    number of card types:<br>
    <input id='pickNumber' type='number' min='2' max='81' value ='8' name='card types'></input> 
    <input id='memory-btn' class='project-btn' type='button' value='play'></input>
  </form>

</div>


<div id='board'></div>


<div id='message'></div>

<div id='reset'>shuffle<br>cards &<br>restart</div>

  <a class='code-link' href='https://github.com/bebebebebe/memory'>code on<br>GitHub</a>

<br/>

</div>