/* mixins, variables */

$text: #737373;

/* general */

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  font-family: Helvetica, Times, 'Times New Roman', serif;
  color: $text;
}

.intro {
  padding-top: 33%;
  padding-left: 14%;
  padding-right: 16%;
}

.info {
  padding-top: 15%;
  padding-left: 14%;
  padding-right: 16%;  
}

.projects {
  padding-top: 15%;
  padding-left: 14%;
  padding-right: 14%;

}

.text {
  line-height: 1.5; 
  word-wrap: break-word;
}

.image {
  
  margin-left: 5px;
}

nav { 
  ul {
    list-style: none;
    position: fixed;
    top: 2%;
    left: 2%;
   
  }
}

.description {
  color: #999999;
  font-style: italic;
  text-indent: 10px;
}

.article-title {
  font-family: Helvetica, Times, 'Times New Roman', serif;
  font-size: 28px;
  color: black;
  text-decoration: none;
}

#articles {
  list-style: none;
  margin: 0px;
  text-decoration: none;
}

.link {
  color: #8c8c8c;
}

.header {
    text-decoration: none;
    color: #8c8c8c;
    padding: 0;
    margin: 0;
}

.flash {
  color: red;
  position: fixed;
  top: 2%;
  right: 5%;
}

pre {
  line-height: 1;
}


// Projects: General

.project-btn {
  background-color: white;
    color: lighten($text, 20%);
    font-size: 20px;
    text-decoration: none;
    cursor: poiner;
     border:none;
  &:hover {
  border: none;
  color: $text;
}
  &:focus {
    outline: none;
  color: $text;
  }
}



.code-link {
  text-decoration: none;
  color: lighten($text, 20%);
  font-size: small;
  text-align: right;
  display: inline-block;
  font-family: monospace;
  position: absolute;
  right: 100px;
  bottom: 120px;
  display: inline-block;
  &:hover {
    color: $text;
  }
}


/* projects: diffs */

.add {
  color: black;
}

.del {
  color: lighten($text, 30%);
}

#texts {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 300px;

}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 45%;
  height: 45%;
}

#result {
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 45%;
  height: 45%;
}

.result-info {
  //color: #999999;
  color: black;
}


#btn {
    background-color: white;
    color: lighten($text, 20%);
    font-size: 20px;
    text-decoration: none;
    cursor: poiner;
     border:none;
}

#btn:hover {
  border: none;
  color: $text;
}

#btn:focus {
  outline: none;
  color: $text;
}

#original, #revised {
  border: 1px solid lighten($text, 30%);
  resize: none;
  &:focus {
    border: 1px solid $text;
    outline: none;
  }
}






// Project: Memory Game



#board {
  width: 350px;

}

.card {
  background: gray;
  border: 2px solid white;
  float: left;
}

#reset {
  color: gray;
  font-family: helvetica;
  font-style: italic;
  font-size: small;
  display: inline-block;
  
}

#reset:hover {
  color: black;
}

#options {
  
  position: absolute;
  right: 100px;
  display: inline-block;
}

input:focus, textarea:focus, button:focus {
    outline: none;
}

#pickNumber {
  width: 50px;
}


